In [1]:
import pandas as pd

In [25]:
ls ../data

IVol-BR.csv             dividend_yield.html     risk_factors.html
Market_Liquidity.csv    illiquidity_index.html  short_interest.html
Market_Liquidity.xls    loan_fees.html          short_interest.xls
cost_of_equity.html     loan_fees.xls           spot_rate_curve.html
data_sample.csv         methodology.html        volatility_index.html
dividend_yield.csv      portfolios.html

In [8]:
ls ../resources/Predictability/dividend_yield.xls

dividend_yield.png  loan_fees.png       short_interest.png
dividend_yield.xls  loan_fees.xls       short_interest.xls

In [20]:
ls ../data/Market_Liquidity.xls

IVol-BR.csv             dividend_yield.html     risk_factors.html
Market_Liquidity.xls    illiquidity_index.html  short_interest.html
cost_of_equity.html     loan_fees.html          spot_rate_curve.html
data_sample.csv         methodology.html        volatility_index.html
dividend_yield.csv      portfolios.html

In [26]:
df = pd.read_excel("../data/loan_fees.xls")

In [27]:
df.to_csv("../data/loan_fees.csv")

In [28]:
df

     year  month  day  week_loan_fee
0    2013      1    4       0.021148
1    2013      1   11       0.016700
2    2013      1   18       0.014895
3    2013      1   24       0.014664
4    2013      2    1       0.014341
..    ...    ...  ...            ...
467  2021     12   31       0.013440
468  2022      1    7       0.018912
469  2022      1   14       0.021320
470  2022      1   21       0.021272
471  2022      1   27       0.021962

[472 rows x 4 columns]