In [1]:
import pandas as pd

In [33]:
ls ../data

IVol-BR.csv             dividend_yield.html     risk_factors.html
Market_Liquidity.csv    illiquidity_index.html  short_interest.csv
Market_Liquidity.xls    loan_fees.csv           short_interest.html
Portfolios/             loan_fees.html          short_interest.xls
cost_of_equity.html     loan_fees.xls           spot_rate_curve.html
data_sample.csv         methodology.html        volatility_index.html
dividend_yield.csv      portfolios.html

In [8]:
ls ../resources/Predictability/dividend_yield.xls

dividend_yield.png  loan_fees.png       short_interest.png
dividend_yield.xls  loan_fees.xls       short_interest.xls

In [20]:
ls ../data/Market_Liquidity.xls

IVol-BR.csv             dividend_yield.html     risk_factors.html
Market_Liquidity.xls    illiquidity_index.html  short_interest.html
cost_of_equity.html     loan_fees.html          spot_rate_curve.html
data_sample.csv         methodology.html        volatility_index.html
dividend_yield.csv      portfolios.html

In [34]:
df = pd.read_excel("../data/spot_rate_curve.xls")

In [35]:
df.to_csv("../data/spot_rate_curve.csv")

In [36]:
df

,Date,1 month,2 months,3 months,6 months,1 year,3 years,5 years
0,2002-01-02,0.189987,0.189776,0.190118,0.191517,0.198600,NaN,NaN
1,2002-01-03,0.189390,0.187865,0.187645,0.188590,0.194629,NaN,NaN
2,2002-01-04,0.189705,0.189107,0.189494,0.191172,0.197771,NaN,NaN
3,2002-01-07,0.189091,0.188092,0.188116,0.189929,0.197139,NaN,NaN
4,2002-01-08,0.189403,0.188611,0.188758,0.190590,0.198555,NaN,NaN
...,...,...,...,...,...,...,...,...
4553,2020-05-25,0.027107,0.025456,0.024730,0.024259,0.025945,0.047726,0.062990
4554,2020-05-26,0.026949,0.025248,0.024543,0.024076,0.026171,0.047596,0.062090
4555,2020-05-27,0.026845,0.025180,0.024498,0.024082,0.026443,0.047444,0.061765
4556,2020-05-28,0.026553,0.024784,0.024212,0.023731,0.025828,0.047268,0.062181
4557,2020-05-29,0.026406,0.024602,0.023644,0.023155,0.025504,0.046862,0.061579